[% pagename = c.loc('site.menu.download.garmin.text') %]
[% heading = c.loc('controller.garmin.heading') %]
[% PROCESS 'head.tt' %]
[% on_download_garmin = 1 %]
[% PROCESS 'body_start.tt' %]

[% c.loc('controller.garmin.text') %]

[% PROCESS 'body_end.tt' %]
