<ul class="navigation">
  <li><a href="/kynning" title="[% c.loc("Kynning á OpenStreetMap verkefninu") %]">[% c.loc("Hvað er OpenStreetMap?") %]</li>
  <li><a href="/að taka þátt" title="[% c.loc("Hvernig þú getur tekið þátt í verkefninu") %]">[% c.loc("Að taka þátt") %]</li>
  <li><a href="/kort" title="[% c.loc("Kortasýn með OpenStreeMap korti fyrir Ísland") %]">[% c.loc("Kortasýn") %]</li>
  <li><a href="/garmin" title="[% c.loc("OpenStreetMap fyrir Garmin tæki") %]">[% c.loc("Garmin kort") %]</li>
  <li><a href="/vefurinn" title="[% c.loc("Upplýsingar um OpenStreetMap.is vefinn") %]">[% c.loc("Um vefinn") %]</li>
</ul>
