[% pagename = c.loc('Um vefinn') %]
[% PROCESS 'head.tt' %]
[% PROCESS 'body_start.tt' %]

[% t.loc('Hér rís upplýsingavefur fyrir OpenStreetMap á Íslandi. Vefurinn er
enn í vinnslu en hægt er að fylgjast með
framvindunni <a href="http://github.com/avar/App-OpenStreetMapIs-Web">á
github') %]

[% PROCESS 'body_end.tt' %]
