[% pagename = c.loc('site.menu.about.text') %]
[% heading = c.loc('controller.about.heading') %]
[% PROCESS 'head.tt' %]
[% on_about = 1 %]
[% PROCESS 'body_start.tt' %]

[% c.loc('controller.about.text') %]

[% PROCESS 'body_end.tt' %]
