<div id="header">
  <h1>[% c.loc('site.layout.sitename') %]</h1>
  <p class="tagline">[% c.loc('site.layout.tagline') %]</p>
  <div id="menu">
    [% PROCESS '_navigation.tt' %]
  </div>
</div>
<div id="content"> 
  <div id="left">
    <h2>[% heading || pagename %]</h2>


