<!doctype html> 
<html>
  <head>
    <title>[% c.localize("OpenStreetMap á Íslandi") %] | [% template.title %]</title>
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/main.css') %]" />
  </head>
