[% pagename = c.loc('site.menu.mainpage.text') %]
[% heading = c.loc('controller.root.heading') %]
[% PROCESS 'head.tt' %]
[% on_index = 1 %]
[% PROCESS 'body_start.tt' %]

[% c.loc('controller.root.text') %]

[% PROCESS 'body_end.tt' %]
